In [3]:
import pandas as pd
keys = pd.read_csv('keys/modern_keys_50_it_2000.csv', sep='\t', index_col=0)

In [4]:
keys.head()

        weight                                              words
topic
0      0,01314  iesu nog hert iesus hemel leggen ziel hemels t...
1      0,00232  vous kwee mon les qui boire poeder plus been p...
2      0,27513  god kwaad mens recht zelf goed waar waard make...
3      0,00625  tsa baard tha besje hond droefheid brant coura...
4      0,02054  hun godt naar myn volk nooit hen godts geven w...

In [7]:
keys.sort_values(by='weight', ascending=False).head()

        weight                                              words
topic
2      0,27513  god kwaad mens recht zelf goed waar waard make...
16     0,21139  ben heb och hert ziel troost lang zwaar pijn l...
48      0,1571  godt wilt heere vader lof hart ziel bidden god...
25     0,15294  god vijand boos hand kwaad hulp tegen volk kra...
15     0,14398  zieden eens vrij neen sou waar weet lang tijd ...